{% extends 'base.html' %}
{% load portfolio_tags %}
{% load thumbnail %}
{% load i18n %}
{# Title Override #}
{% block title %}{% trans 'List View' %}{% endblock %}

{# content #}

{% block content %}

    {# Filters #}
    {% block filters %}
        {% list_work_categories %}
    {% endblock %}
    {# endfilters #}
    <h2>{{ headline }}</h2>
    <div class="row">
        {% for work in work_list %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{% thumbnail work.head_picture 400x200 crop %}" alt="{{ work.title }}">
                    <div class="caption">
                        <h3>{{ work.title }}</h3>
                        <p>{{ work.description|safe|truncatewords:WORK_LIST_TRUNCWORDS_COUNT }}</p>
                        <p><a href="{{ work.get_absolute_url }}" class="btn btn-primary"
                              role="button">{% trans 'Read more' %}</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'portfolio/pagination.html' with page=work_list %}

{% endblock %}

{# endcontent #}